@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleMove</title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    @Styles.Render("~/Conten/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- SideBar -->
    <section class="full-box cover dashboard-sideBar">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <!--SideBar Title -->
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                SimpleMOve <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <!-- SideBar User info -->
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <img src="@Url.Content("~/Content/assets/img/avatar.jpg")" alt="UserIcon">
                    <figcaption class="text-center text-titles"><h3 class="text-titles">@Session["UserNombre"].ToString()</h3></figcaption>
                </figure>

            </div>
            <!-- SideBar Menu -->
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">


                <li>
                    <div><i class="fa-solid fa-list"></i>@Html.ActionLink("Publicaciones", "Listado_conductores", "listado_conductores")</i></div>
</li>

                <li>
                    <div><i class="fa-solid fa-circle-plus"></i>@Html.ActionLink("Crear ", "Crear", "listado_conductores")</i></div>
</li>
                <li>
                    <div><i class="fa-solid fa-arrow-right-from-bracket"></i> @Html.ActionLink("Cerrar Sesion", "Logout", "cerrar")</div>
                </li>

            </ul>
        </div>
    </section>
    
    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
