@model SimpleMove.Models.listado_ayudantes

@{
    Layout = "~/Views/Shared/_Layout_ayudantes.cshtml";
}

<section class="full-box dashboard-contentPage">
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="text-titles">Publicaciones </h1>
        </div>
    </div>



    <dl class="dl-horizontal">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="text-center">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card shadow-sm" , style="padding:10px; margin-left:60px">

                                <div class="card-body" , style="margin-top:20px">
                                    <img width="200" src="@Url.Action("getImage","listado_ayudantes", new { codigo = Model.codigo})" alt="Alternate Text" />
                                    <h4 style="font-family:'Arial Rounded MT'">
                                        NOMBRE:
                                    </h4>
                                    <h4>@Html.DisplayFor(model => model.usuarios.nombre) @Html.DisplayFor(model => model.usuarios.apellido)</h4>

                                    <h4 style="font-family:'Arial Rounded MT'">
                                        DESCRIPCIÓN:
                                    </h4>
                                    <h4>@Html.DisplayFor(model => model.descripcion)</h4>

                                    <h4 style="font-family:'Arial Rounded MT'">
                                        COSTO DEL SERVICIO
                                    </h4>
                                    <h4>@Html.DisplayFor(model => model.costo)</h4>

                                    <h4 style="font-family:'Arial Rounded MT'">
                                        MEDIO DE INFORMACIÓN:
                                    </h4>
                                    <h4> @Html.DisplayFor(model => model.medioInfo)</h4>
                                    <h4 style="font-family:'Arial Rounded MT'">
                                        ACTIVO:
                                    </h4>
                                    @if (Model.estado == true)
                                    {
                                        <i class="fa-solid fa-square-check"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-x"></i>
                                    }

                                </div>


                                <button href="#!" class="btn btn-info btn-raised btn-sm" style="background-color: #96FEF3 ">| @Html.ActionLink("Editar", "Editar", new { id = Model.codigo }) |</button>
                                <button href="#!" class="btn btn-info btn-raised btn-sm" style="background-color: #96FEF3 ">| @Html.ActionLink("Eliminar", "Delete_ayudante", new { id = Model.codigo }) |</button>
                                <button href="#!" class="btn btn-info btn-raised btn-sm" style="background-color: #96FEF3 ">| @Html.ActionLink("Atras", "Listado_ayudante") |</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dl>


</section>
